/*List style type none yapınca noktalar gidiyor.*/
ul{
    list-style-type: none;
    background-color: rgb(247, 215, 227);
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
}
ul li a{
    display: inline-block;
    color: rgb(251, 253, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/*Üstüne Geldiğinde*/
ul li:hover{
    background-color: rgb(202, 202, 248);
    transition: 0.3s;
    padding: 2%;
}
ul li{
    padding: 25px;
}
ul li:nth-child(1){
    background-color: rgb(218, 149, 231);
}
i{
    color: rgb(255, 0, 234);
    padding-right: 8px;
    margin-right: 5px;
} 